<!DOCTYPE html>
<html ng-app="todoApp">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>To Do List</title>
    <script src="../node_modules/angular/angular.js"></script>
    <link
      rel="stylesheet"
      href="../node_modules/bootstrap/dist/css/bootstrap.css"
    />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    />
    <script>
      var todoApp = angular.module("todoApp", []);

      todoApp.run(function ($http) {
        $http.get("/todo.json").then(
          function (res) {
            model.items = res.data;
          },
          function (data) {
            console.error("todo.json get failed");
          }
        );
      });

      todoApp.filter("checkedItems", function () {
        return function (items, showComplete) {
          var resultArr = [];
          angular.forEach(items, function (item) {
            if (item.done == false || showComplete == true) {
              resultArr.push(item);
            }
          });
          return resultArr;
        };
      });

      const model = {
        user: "Adam",
      };

      todoApp.controller("ToDoCtrl", function ($scope) {
        $scope.todo = model;

        $scope.incompleteCount = function () {
          var count = 0;
          angular.forEach($scope.todo.items, function (item) {
            if (!item.done) count++;
          });
          return count;
        };

        $scope.warningLevel = function () {
          return $scope.incompleteCount() < 3
            ? "badge-success"
            : "badge-warning";
        };

        $scope.addNewItem = function (actionText) {
          $scope.todo.items.push({ action: actionText, done: false });
        };
      });
    </script>
  </head>
  <body ng-controller="ToDoCtrl">
    <div class="page-header">
      <h1>
        {{todo.user}}'s To Do List
        <span
          class="badge"
          ng-class="warningLevel()"
          ng-hide="incompleteCount() == 0"
          >{{incompleteCount()}}</span
        >
      </h1>
    </div>
    <div class="panel">
      <div class="input-group">
        <input type="text" class="form-control" ng-model="actionText" />
        <span class="input-group-btn">
          <button class="btn btn-primary" ng-click="addNewItem(actionText)">
            Add
          </button>
        </span>
      </div>
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Description</th>
            <th>Done</th>
          </tr>
        </thead>
        <tbody>
          <tr
            ng-repeat="item in todo.items | checkedItems: showComplete | orderBy: 'action'"
          >
            <td>{{item.action}}</td>
            <td><input type="checkbox" ng-model="item.done" /></td>
            <td>{{item.done}}</td>
          </tr>
        </tbody>
      </table>
      <div class="checkbox-inline">
        <label
          ><input type="checkbox" ng-model="showComplete" />Show Complete</label
        >
      </div>
    </div>
  </body>
</html>
